---
---

@import "{{ site.theme }}";
@font-face {
  font-family: 'zar';
  src: url(https://fontlibrary.org/face/xb-zar);
}
p {
  font-family: 'zar','serif';
  direction: rtl;
  font-size : 2 rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'droid','serif';
  direction: rtl;
}
